/* TODO: add more @apply directives to simplify CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
	@apply text-2xl font-bold my-6 text-slate-900;
}

h3 {
	@apply text-xl my-6 text-slate-500;
}

:root {
	--primary: rgb(118, 80, 255);
	--secondary: rgb(110, 110, 110);
}

body {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #94a3b8;
}

/* Animations */
.fade-in {
	animation: fadeIn 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.zoom-in {
	animation: zoom-in 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0.75);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.text-interactable,
.box-interactable {
	transition: all 1s cubic-bezier(0.16, 1, 0.3, 1); /* smooth tween for scale + color */
	cursor: pointer;
}

/* toggle / active underline */
.text-interactable.active {
	color: var(--primary);
	text-decoration: underline var(--primary);
	text-underline-offset: 8px;
}

.text-interactable:hover:not(.active) {
	transform: scale(1.5);
	text-shadow: 0px 5px 5px black;
}

.box-interactable {
	border: 4px solid var(--primary);
	background-color: black;
	color: var(--primary);
}

.box-interactable:hover {
	border-color: black;
	background-color: var(--primary);
	color: black;
	transform: translateY(-10px);
	box-shadow: 0px 15px 20px black;
}

.primary {
	color: var(--primary) !important;
}

.secondary {
	color: var(--secondary) !important;
}

.bg-primary {
	background-color: var(--primary) !important;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.border-primary {
	border-color: var(--primary) !important;
}

.border-secondary {
	border-color: var(--secondary) !important;
}

.game-container {
	position: relative;
	width: 100%;
	margin: auto;
	aspect-ratio: 1920 / 1080;
}

.game-container iframe {
	width: 100%;
	height: 100%;
}
